.card{
     width: 100%;
   
 
   
}
.card-inform{
     width: 100%;
     background-color: black;

}

.info-card img{
     width: 50px;
     padding-right: 20px;


}
.pic{
     border-radius: 10px;
}
.info-card{
     display: flex;
     font-weight: 500;
     position: sticky;
     top: 20px;
  
}
    