.how{
     width: 100%;
     display: block;
     text-align: justify;
     padding: 20px 0px;
}

.one{
     border: 2px solid gray;
     width: 100%;
     padding: 20px;
     margin: 15xp 0px;
     border-radius: 8px;
}
.one h1{
     text-align: center;
}
.two{
     border: 2px solid gray;
     width: 100%;
     padding: 20px;
     margin: 15px 0px;
     border-radius: 8px;
}
.two{
     text-align: center;
}