.watch{
     display: grid;
     grid-template-columns: 5fr 2fr; 
     margin-top: 40px;
}
.watch-info{
     width: 100%;
     display: grid;
     grid-template-columns: repeat(3, 250px);
     grid-gap: 20px;
     justify-items: center;
}
.watch-card{
     width: 100%;
     background-color: rgb(224, 224, 224);
     box-shadow: 3px 3px 35px rgb(238, 234, 234);
     border-radius: 10px;
  
     padding-left: 40px;
    
    
}
.card-info{
     
     top: 200px;
}
.btn-me{
     padding: 8px;
     margin-bottom: 10px;
     color: green;
     font-weight: 600;
}
.btn-again{
     padding: 8px;
     margin-bottom: 10px;
     color: rgb(131, 21, 131);
     font-weight: 600;
}
















@media only screen and (max-width: 600px) {
     .watch{
          display: block;
          overflow-x: hidden;

     }
     .watch-card{
          display: block;

        
     }
     
     .watch-info {
          display: inline-block;
          overflow: hidden;
       
       /* background-color: lightblue; */
     }
     .card-info{
          position: relative;
        

     }
     .card-inform{
          width: 100%;
          
     }
     .info-card{
          display: flex;
          top: 0px;
  
     }
     .watch-card{
          width: 100%;
          background-color: none;
        
     }
     .product{
          width: 100%;
          height: 500px;
          border: none;
          background-color: white;
          overflow-x: hidden;
          position: relative;
      
     }
     .product-info{
          padding-left: 20px;
          overflow-x: hidden;
          line-height: 10px;
     }
     .btn {
          position: absolute;
          bottom: 0;
          left: 20px;
          font-size: 20px;
          
     }
     .how{
          display: none;
          width: 100%;
     }
     
   
    
   }